.containerGridListTitleButton{
    width: 100%;

    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: space-between;
}

.contentGridListButton {
    width: 8rem;
}

.contentHeaderOrder {
    display: flex;
    flex-direction: row;
    
    width: 100%;

    align-items: center;
    justify-content: space-between;
}

.headerTitleNumberOrder {
    margin: 0.5rem;
}

.headerEditLead {
    margin: 0.5rem;
}

.containerLeadTime {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 1fr;
    grid-gap: 0.2rem;

    align-items: center;
    justify-content: center;

    width: 100%;
    height: 20rem;
}

.contentDTOVCCSELE {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 0.5rem;
}

.contentDatesSaleOrder {
    display: flex;
    flex-direction: row;

    width: 100%;
}

.contentDateUpUntil {
    margin-left: 0.5rem;
}

.colorSuccess {
    align-items: center;
    justify-content: center;
    border: 1px solid green;
    border-radius: 1rem;

    width: 100%;
    height: 80%;    
}

.colorError {
    align-items: center;
    justify-content: center;
    border: 1px solid red;
    border-radius: 1rem;

    width: 100%;
    height: 80%;
}

.colorWarning {
    align-items: center;
    justify-content: center;
    border: 1px solid orange;
    border-radius: 1rem;

    width: 100%;
    height: 80%;
}

.colorInformation {
    align-items: center;
    justify-content: center;
    border: 1px solid blue;
    border-radius: 1rem;

    width: 100%;
    height: 80%;
}

.mainLead {
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;

    width: 100%;
}

.mainTitulo {
    margin-top: 1rem;
}

.mainLeadText {
    font-size: 14px;

    width: 100%;
}

.mainLead .mainLeadTitle {
    margin-right: 0rem;
}

.icon {
    margin-top: 1rem; 
}

.time {
   margin-top: 1rem; 
}

.containerLeadTimeEdit {
    display: grid;

    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 2rem;

    width: 100%;
}

.contentCycleLeadTime {
    display: grid;

    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    grid-gap: 0.5rem;

    margin-top: 0.5rem;
}